<!-- importing header file -->
<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<% include partials/navbar%>
<img class="landingimg" name="slide">
<div class="center"><span id="maintext">Explore Now</span></div>
<div class="center1"><a href="/product"><button class="btn btn-lg btn-primary">Start Shopping !</button></a></div>





<!-- importing footer file -->
<% include partials/footer%>